:root {
    --visited: #ef6c00;
    --shortest: white;
    --transition: #ffcc80;
}

.node {
    padding: 0;
}

.nodeStart {
    background-color: green;
}

.nodeFinish {
    background-color: red;
}

.nodeWall {
    background-color: blueviolet;
}

.shortestPath {
    background-image: linear-gradient(var(--shortest), var(--shortest));
    background-color: var(--visited);
}

.visited {
    background-color: var(--visited);
}